# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
data/*.gff
data/*.results.zip
sites/*/files
sites/*/private

# Ignore any legacy svn repository folders.
*.svn

# Ignore CVBrowser cache files
CVBrowser/CVBrowser/*.cache.*

# Ignore temp Blast file
sites/all/modules/custom/xgrid/tempFile

