#contact_form_container {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-in-out;
}

#feedback {
-webkit-input-placeholder {'placeholder?'};
}

.visible {
height: 240px;
overflow:hidden;
}

.invisible {
height: 0px;
overflow:hidden;
}

#edit-comments{
 overflow: auto;
 resize: none;
 border: solid 1px #aacfe4;
}

#edit-email{
 resize: none;
 height: 1.5em;
 width: auto;
 border:solid 1px #aacfe4;
 vertical-align:middle;
}

#contact_title:hover{
 color:gray;
 cursor: pointer;
}

#edit-results{
 margins: 0;
 padding: 0;
}


#submitButton{
float:left;
clear:none;
}
#clearButton{

float:left;
}
