<?php
  require("/Volumes/Web/vectorbase/includes/organism_definitions.php");
  header("Content-type: text/css");
  $organism_name = $_GET['organism_name'];
?>


.histoBar {
width:2px;
background-color:#<? echo DV::$OCS[$organism_name][0];?>;
position:absolute;
bottom:0px;
margin:0px 0px 0px 0px;
}
.histoBarTransOn {
width:2px;
background-color:#<?=DV::$OCS[$organism_name][3]?>;
position:absolute;
bottom:0px;
}
.histoBarTrans {
width:2px;
position:absolute;
bottom:0px;
border: none;
	opacity: 0.0; /* the standards compliant attribute that all browsers should recognize, but... */
	filter:alpha(opacity=0); /* for IE */
	-khtml-opacity: 0.0; /* for old Safari (1.x) */
	-moz-opacity:0.0; /* for old skool Netscape Navigator */
}
.histoBarExp {
width:2px;
background-color:#<?=DV::$OCS[$organism_name][3]?>;
position:absolute;
bottom:0px;
border: none;
opacity: 0.5;
filter:alpha(opacity=50);
-khtml-opacity: 0.5;
-moz-opacity:0.5;
}

.mybold {
font-family:Arial;
font-weight:bold;
color:#<?=DV::$OCS[$organism_name][0]?>;
}

.rowOn{
background-color:#<?=DV::$OCS[$organism_name][4]?>;
}
.rowOff{
background-color:none;
}
