/*
<?
  require("static_vars.php");
  require("db_connect.php");
  require("menu_items.php");
  require("organism_definitions.php");
  header("Content-type: text/css");

if (isset($_GET["organism_id"])) {
	$_SESSION["organism_id"]=$_GET["organism_id"];
}

?>
*/
.sptop {display:none;}

.main_table_normal {
	border-spacing: 0px;
	border-collapse: separate;
	width:<?=$SITE_WIDTH;?>px;
}

.main_table_normal td {
	padding: 0px 0px 0px 0px;
}

.main_table_wide {
	border-spacing: 0px;
	border-collapse: separate;
	width:<? print ($SITE_WIDTH + 200);?>px;
}

.main_table_wide td {
	padding: 0px 0px 0px 0px;
}


/* Top bar of stuff */
.site_title { font-family:Times; font-size:20px; color: #<?=DV::$OCS[$_SESSION["organism_id"]][0]; ?>;}
.org_tab { font-family: Arial; font-size:11px; font-weight: bold; color: white;}
.status_bar {font-family: Arial; font-size: 11px; height:16px; color: white; text-decoration: none;}
.status_bar_over {font-family: Arial; font-size: 11px; height:16px; color: white; text-decoration: underline;}

<?
  $mf = new MenuFactory(DB::getUI_DB());
  $mif = $mf->getMenuItemFactory(null, MenuFactory::MAIN_MENU);
  $mis = $mif->getMenuItems();
  $mif = $mf->getMenuItemFactory(null, MenuFactory::SERVICES);
  $mis = array_merge($mis, $mif->getMenuItems());
  if ($_SESSION["logged_in"]) { $linksection = MenuFactory::USER_LOGGEDIN; } else { $linksection = MenuFactory::USER; }
  $mif = $mf->getMenuItemFactory(null, $linksection);
  $mis = array_merge($mis, $mif->getMenuItems());
  $main_menu_count = count($mis);

?>

body {font-family:Arial; font-size:10px; margin-top: 0px; background-color:#EEEEEE;margin-left: 0px; margin-bottom: 0px; margin-right: 0px; }

a { text-decoration: none; color:#3333ff;}
b { color:#003300; }

.testing {font-family: Arial; font-size: 11px; background-color: #FFFFFF; height: 16px;}
.testing_over {font-family: Arial; font-size: 11px; background-color: #CCCCCC; height: 16px;}
.testing_out {font-family: Arial; font-size: 11px; background-color: #AAAAAA; height: 16px;}
.testing_selected {font-family: Arial;  font-size: 11px;  background-color: #888888; height: 16px;}

.menu_bar {font-family: Arial;  font-size: 11px; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; width:<? print ($SITE_WIDTH/$main_menu_count);?>px; height:16px;}
.menu_bar_over {font-family: Arial;  font-size: 11px; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][5];?>;width:<? print ($SITE_WIDTH/$main_menu_count);?>px; height:16px;}
.menu_bar_selected {font-weight: bold; font-family: Arial; color:#ffffff; font-size: 11px; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][2];?>;width:<? print ($SITE_WIDTH/$main_menu_count);?>px; height:16px;}

.menu_link {font-family: Arial; font-size: 11px; text-decoration: none; color: #003300; display: block; padding:0px;}
.menu_link_selected {font-family: Arial; font-size: 11px; text-decoration: none; color: #ffffff;}

.vert_seperator{ height:16px; width:1px; background-color: #003300;}
.horz_seperator{ height:1px; background-color: #003300;}
.horz_seperator_off{ height:1px; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][2];?>;}

.common_menu_bar {font-family: Arial;  font-size: 11px; background-color: #dddddd; height:16px;width:<? print ($SITE_WIDTH/$main_menu_count)?>px;}
.common_menu_bar_on {  background-color: #9C9C9C; height:16px;width:<? print ($SITE_WIDTH/$main_menu_count)?>px;}
.common_menu_bar_over {  font-family: Arial; font-size: 11px; background-color: #eeeeee; height:16px;width:<? print ($SITE_WIDTH/$main_menu_count);?>px;}
.common_menu_link {font-family: Arial; font-size: 11px; text-decoration: none; color: #000000; display: block;}
.common_menu_link_on {font-family: Arial; font-weight: bold; color: #ffffff; font-size: 11px;text-decoration:none;}

.submenu{ height:16px; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][2];?>;}
.submenu_item{ text-align: center; color: #ffffff; font-family:Arial; vertical-align: bottom; font-size:11px; text-decoration: none;}
.submenu_on{ color: #ffffff; font-family:Geneva; font-size:9px; text-decoration: underline;}


.submenu_const{ height:16px; background-color:#9C9C9C; text-align:center;}

.submenu_const_item{ text-align: center; color: #ffffff; font-family:Arial; vertical-align: middle; font-size:10px; text-decoration: none;}
.submenu_bar{ color: #ffffff; font-weight:bold; font-family:Arial; vertical-align: middle; font-size:10px; text-decoration: none;}
.submenu_bar_over{ text-align: center; color: #eeeeee; font-family:Arial; font-size:10px; vertical-align: middle; text-decoration: none; }
.submenu_dim{ text-align: center; color: #eeeeee; font-family:Arial; font-size:10px; vertical-align: middle; text-decoration: none; }
.submenu_dim_over{ text-align: center; color: #eeeeee; font-family:Arial; font-size:10px; vertical-align: middle; text-decoration: underline; }
.horz_seperator_const_off{ height:1px; background-color: #9C9C9C;}

.content_window{font-family: Arial; font-size: 11px; vertical-align: top; background-color: #<?=DV::$OCS[$_SESSION["organism_id"]][6];?>; height:400px;}

/* Stuff specifically for genome submenu */
.genome_bar{ text-align: center; color: #ffffff; font-family:Arial; font-size:10px; font-weight: bold; text-decoration: none; }
.genome_bar_over{ text-align: center; color: #ffffff; font-family:Arial; text-align:left; font-weight: bold; font-size:10px; text-decoration: underline;}
.genome_bar_dim{ text-align: center; color: #<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; font-family:Arial; font-size:10px; text-decoration: none; }
.genome_bar_dim_over{ text-align: center; color: #<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; font-family:Arial; height:16px; text-align:left; font-size:10px; text-decoration: underline; }
.genome_bar_unavailable{ text-align: center; color: #b0b0b0; font-family:Arial; font-size:10px; text-decoration: none;}



/* Vectorbase Homepage specific stuff */
.left_content { width: 600px; height: 400px; vertical-align: top; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][6];?>;}
.right_content { background-color: #ffffff; vertical-align: top;}
.main_logo_bar{ background-color:#d9FEDA;background: url(../imgs/mosq_pixel3.jpg); background-repeat: no-repeat; background-position: right; height: 118px; vertical-align: middle;}
.sub_title{ font-family: Times; color:#003300; font-size:24px;}
.small{ font-family: arial; color:#003300; font-size:10px; }
.small_grey{ font-family: arial; color:#BBBBBB; font-size:10px; }
.med {font-family: Arial; color:#003300; font-size:11px; }
.med_large {font-family: Times; color:#003300; font-size:12px; text-decoration: underline; }
table td.services_title{ padding-left: 6px; font-family:Arial; color:#003300; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][5];?>; text-align: left; vertical-align:middle; height: 19px; font-size:14px;font-weight:bold;}
.services_title_off{ font-family:Geneva; color:#003300; text-decoration:none; vertical-align:middle; font-size:14px;font-weight:bold;}
.services_title_over{ font-family:Geneva; color:#003300; text-decoration:underline; vertical-align:middle; font-size:14px;font-weight:bold;}
.item_icon{ text-align:center; width:20px; }
.home_item{ font-family: Geneva; color:#003300;font-size:12px; font-weight:bold; text-decoration:none;}
.body_bg{ color:#003300; font-size: 10px;}
.section_title{ color:#003300; font-size: 16px; font-weight:bold;}
.institution{ color:#003300; font-family: Times; font-size:12px; background-color:#fcfcfc; }

/*Standard Table stuff */
.cell_key{ background-color:#efefef; border:0px; border-spacing:0px; border:1px #cfcfcf solid;padding: 2px;}
.cell_value{ background-color:#fafafa; border:0px; border-spacing:0px; border:1px #cfcfcf solid; padding: 2px}
.std_table{ background:#cfcfcf; padding: 0px; border-spacing: 0px; border:1px #cfcfcf solid; border-collapse: collapse;}

<?
  if (preg_match("/Firefox/i",$_SERVER["HTTP_USER_AGENT"])){
  	$extra = "margin-top:1px;margin-left:1px;";
  }
  if (preg_match("/Safari/i",$_SERVER["HTTP_USER_AGENT"])){
  	$extra = "margin-bottom:1px;";
  }

?>
table.trace_table table{border-collapse:collapse; width:100%;}
table.trace_table th{text-align:left;border:1px solid #dddddd; padding:4px; background-color:#eeeeee;}
table.trace_table td{text-align:left;border:1px solid #dddddd; padding:4px;background-color:#fdfdfd;}
table.trace_table td.blank{border:0px;padding:0px;}

table.trace_table_collapse{border-collapse:collapse;<?=$extra;?>width:100%;}
table.trace_table_collapse th{text-align:left;border:1px solid #dddddd;padding:2px;background-color:#f7f7f7;font-weight:normal;font-style:italic;}
table.trace_table_collapse td{text-align:left;padding:2px;border:1px solid #dddddd;}

/* FSP Manual Annotaion Stuff */
table.outer_comment_table {border:1px solid #DDDDDD; width:100%;background-color:#FCFCFC;}
table.outer_comment_table td{padding:20px; background-color:#FCFCFC;}
table.inner_comment_table {padding:20px; border:0px;width:100%;border-collapse:collapse;}
table.inner_comment_table th{padding:10px; text-align:left; font-weight:normal; border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;background-color:#F0F0F0;color:#555555;font-size:10px;font-style:italic;}
table.inner_comment_table td{padding:10px; background-color:#FFFFFF;font-family:Times New Roman;font-size:12px; border:1px dotted #CCCCCC;}


/* News Items */
.icon{width:14px; text-align:center;}
.news_top{ vertical-align: top; font-family: Times; font-weight:bold; font-size: 12px; color:#003300;}
.news_date{ vertical-align: bottom; font-family:Arial; padding-top:2px; font-size: 11px; text-align:left; font-weight: bold; color:#003300;}
.news_text{ vertical-align: top; font-family: Arial;font-size: 11px; color:#003300; text-align:left;}
.news_link{ vertical-align: top; padding-bottom: 2px; font-family: Arial; font-size: 11px; text-align:left; color:#003300;text-decoration:none;}
.news_link_over{ vertical-align: top; padding-bottom: 2px; font-family: Arial; font-size: 11px; color:#770000;text-decoration:underline;}

/* Quick Link stuff */
.right_content_dotter{ background: url(../imgs/dotter_bar.jpg); width:170px; vertical-align: top;}
.ql_icon{ background-color:#666666; width:25px; height:20px; text-align:center;}
.ql_bar{ background-color:#CCCCCC; text-align: left; width:200px;}
.ql_link{ font-family:Arial,Arial; font-size: 11px; color: #003300; text-decoration: none;}
.ql_link_over{ font-family: Arial,Arial; font-size: 11px; color: #770000; text-decoration: underline;}

/* New link for popgen stuff */
.home_item_link{ font-family: Geneva; color:#003300;font-size:12px; font-weight:bold; text-decoration:none;}
.home_item_link_over{ font-family: Geneva; color: #770000;font-size:12px; font-weight:bold; text-decoration:underline;}

a.contact { color:#ffffff;text-decoration:none; }
a.contact:hover { color:#ffffff;text-decoration:underline;}

.footer{ font-size:10px; background-color:#005500; font-family: Arial;  text-align: center; color:#ffffff; height:16px;} 

/* Search results */
.search_result_link{ font-family:Arial; font-weight:bold; font-size:12px; text-decoration:none;}
.search_result_link_over{ font-family:Arial; font-weight:bold; font-size:12px; text-decoration:underline;}
/*.result_bar	{ font-size:10px; background: url(/imgs/searchresultbar_bg.gif); height:16px;}*/
.result_bar{ background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>;color:#003300;font-weight:bold; padding:2px;}


/*organism homepage stuff */
.ag_picture{background: url(../imgs/ag_blue_picture.jpg); width:343px; background-color:#0B6B93; background-repeat: no-repeat; background-position: bottom left;vertical-align: top;}
.aa_background_td{ background: url(../imgs/aa_corner5.jpg); background-color:#0057A4; background-repeat:no-repeat; background-position: bottom right; width:343px; height:300px; vertical-align: top;}
.is_background_td{ background: url(../imgs/ixscap_bg.jpg); background-color:#0B1FAB; background-repeat: no-repeat; background-position: top right; height: 403px; width: 343px; vertical-align: top;}
.cp_background_td{ background: url(../imgs/cquinquefasciatus_bg.jpg);background-repeat: no-repeat; background-position: top left; height: 200px; width: 343px; vertical-align: top;}
.ph_background_td{ background: url(../imgs/phumanus_bg.jpg);background-repeat: no-repeat; background-position: top left; height: 400px; width: 338px; vertical-align: top;}
.rp_background_td{ background: url(../imgs/rprolixus_bg.jpg);background-repeat: no-repeat; background-position: top left; height: 400px; width: 338px; vertical-align: top;}
.gm_background_td{ background: url(../imgs/gmorsitans_bg.jpg);background-repeat: no-repeat; background-position: top left; height: 400px; width: 338px; vertical-align: top;}
.org_title_td{ color:#ffffff;}
.org_title{ color:#ffffff; font-family: Times; font-size: 18px; }
.org_subtitle{ color:#ffffff; font-family: Arial; font-size:10px;}
.white{ background-color:#ffffff; }

.grey { color:#4a4a4a; text-align:center;}
.resource_sub_item{ font-family:Arial; font-size:10px; color: #003300; text-align:center; font-weight:bold; background-color:#ebebeb;}
.grey_vert_divider{ width:3px; background: url(../imgs/grey_dot.gif); }
.grey_horz_divider{ height:1px; background: url(../imgs/grey_dot.gif); }
.org_blurb{ color: white; font-family: Times; font-size:11px; text-align:left;}

/*Blast Input*/
.db_entry{ vertical-align:middle; font-family:Arial;font-size:10px; background-color:#f4f4f4;padding-left:2px;padding-right:2px;}
.blast_program{font-family:Arial;font-size:10px; font-weight:bold; background-color:#f8f8f8;padding-left:2px;padding-right:2px;font-weight:bold;text-align:left;}
.program_desc{font-family:Arial;font-size:10px; background-color:#f8f8f8;padding-left:2px;padding-right:2px;text-align:left;}

/* ENSEMBL stylesheet stuff for floating nav menus and whatnot */
.dddiv { position: absolute; visibility: hidden; }
.ddedge { background-color: #000000; }
.background3 { background-color: #FFFFCC; }

/* ENSEMBL general table and etc. stylesheets */
table.info-image { width:100%; margin:10px 8px; }
table.info-image td.image { vertical-align: top; text-align:center; padding-right:20px; }
table.stacked tr { vertical-align: top }
th.stacked { background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][3];?>; border:1px solid #003300; color:#003300; text-align:center; padding:2px;}
td.stacked { padding:2px; } 

.panel h2 { font-family:Arial; color:#003300; margin-bottom:0px; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; padding-left:5px; height:19px; font-size:14px; font-weight:bold;}
.services_title{ font-family:Arial; color:#003300; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; text-align: left; vertical-align:middle; height: 19px; font-size:14px;font-weight:bold;}

.content{ background-color:#ffffff; padding:6px;}

/*Aedes genome page*/
.ex_data_point{ font-family:Arial;font-size:10px;padding:4px;background-color:#f3f3f3;padding-top:2px;padding-bottom:2px;padding-right:2px;}

.formblock .formcontent { float: left; font-size: 1em; width: 65%; }
.formcenter, .formcenter div { display:block; text-align:center; }
.forminline, .forminline div { display:inline; }
.forminline h6 { display:inline; margin-right:1em; }
div.formpanel { padding:1em; margin:auto; border:1px solid #ccc;}
div.formpanel div { margin-top:5px; }
.formblock { left: 0px; right: 0px; position: relative; }
.formblock p { width: 100%; padding: 0px; margin: 0px;  }
.formblock .formpadding { width: 29%; height: 1px; padding: 0px; margin:0px; float: left; left: 0px; top: 0px }
.formblock h6 {
  float: left; width: 29%; top: 0px; left: 0px; padding: 0px; padding-right: 10px; margin: 0px; text-align: right;
  color: #003300; font-size: 1em; font-weight: bold; margin-top: 0.8em;
}


.red-button { 
  background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][2];?>; color:#ffffff; font-weight:bold;
  font-style:italic; padding:2px; border:1px outset #<?=DV::$OCS[$_SESSION["organism_id"]][2];?>; 
}
.ensembl_search_bar{ background-image:url(http://<?=$_SERVER["SERVER_NAME"];?>/imgs/ensembl_search_bg.jpg); height:40px; }
img { border: none; }
h2 { color: #666; }
.nowrap { white-space:nowrap; }
.left { text-align:left; }
.right { text-align:right; }
.center { text-align:center; }
.middle { vertical-align:middle; }
.bottom { vertical-align:bottom; }
.autocenter { margin: 0 auto; }
a.cv-button    { font-size: 0.9em; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][2];?>; color:#fff; font-weight:bold; text-decoration:none; border: 2px outset #993333; padding:2px; margin: 3px; }
a.cv_plusminus { font-family:'Arial Black'; font-size: 30px; font-weight:bold; color:#993333; padding:5px; vertical-align:super; text-decoration:none; }
table.zoom { display: inline }
table.zoom, table.zoom tr td { border:0px; margin:0px; padding:0px; background-color:#ffffe7; font-weight: bold; }
table.zoom tr td { vertical-align: bottom }
table.zoom tr td img { margin-top: 0px }
.navbox { background-color: #ffffe7 }
.print_hide { vertical-align:middle; }

/* Zmenu formatting */
.hi { border: solid 1px red; padding: 0 1px; font-weight: bold }
.redbox { visibility:hidden; position:absolute; height: 0px; width: 0px;background-color: red; z-index: 100 }
  div.zmenu { visibility:hidden; position:absolute; top: 800px; left: 800px; width: 200px; z-index: 200 }
  div.zmenu { border:1px #cccccc solid;}
  div.zmenu table th { font-size: 0.9em; background-color:#ccc; color:#000; text-align: left; border:1px #cccccc solid; }
  div.zmenu table td { font-size: 0.9em; color:#666; border-top : 1px #cccccc dotted;}
  div.zmenu a { text-decoration:none; }
/*
div#zmenu { font-family:arial,sans-serif,helvetica; font-size:0.9em; border:1px #cccccc solid;}
div#zmenu th { background-color:#ccc; color:#000; }
div#zmenu td { color:#666;}
div#zmenu a { text-decoration:none; }
*/
.print_hide_block { display: block }

/* GeneView formatting */
table.two-column { border-collapse:collapse; width: 100%}
th.two-column, td.two-column { vertical-align:top; border:1px solid #ccc;padding:6px; }
th.two-column {width:130px;font-size:12px; color:#003300; background-color:#fcfcfc; text-align:left; }
td.two-column { background-color:#ffffff; vertical-align:top; }
td.two-column p { margin-top:0px;margin-bottom:0px;}
td.two-column dl, td.two-column ul, td.two-column ol { margin-top: 0.5em; margin-bottom: 0.5em; }
td.two-column dl ul { margin-top: 0px ; margin-bottom: 0.4em; }
td.two-column table { margin: 0px; }
td.two-column th, td.two-column td { padding: 0px }
td.two-column dt, td.two-column li, td.two-column dd, td.two-column td, td.two-column th { margin-top: 0px; margin-bottom: 0.3em; }
td.two-column tr { vertical-align: top;  }

/* DasconfView formatting */
table.ss .left-border {  border-left:1px #ccc solid;  }
table.ss .right-border {  border-right:1px #ccc solid;  }
table.ss .bottom-border {  border-bottom:1px #ccc solid;  }
table.ss, table.spreadsheet { width: 100%; }
table.ss tr.ss_header { background-color:#ccc; border-width:1px 0px 0px 0px; border-color:#ccc; border-style:solid; }
table.ss th, table.spreadsheet th { background-color: #ccc; border-width:1px 0px 0px 0px; border-color:#ccc; border-style:solid; padding:0.2em; vertical-align: top }
table.ss td, table.spreadsheet td { vertical-align: top; padding:0.2em; }
table.ss tr.bg1, table.spreadsheet tr.bg1 { background-color:#fff; }
table.ss tr.bg2, table.spreadsheet tr.bg2 { background-color:#f0f0f0; }

/* Menu formatting */
H2.menu_heading { color: #003300;text-align:left; font-size:14px; font-weight:bold; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>;border:1px dotted;padding:2px; margin-bottom:0px;}
#related-box { width:200px; padding:6px; text-align:left;}
.bullet { margin: 0em 0em 0.2em -2.0em; text-decoration:none;  text-decoration: none; font-size:11px; font-family:Arial;list-style-type:circle; }
.bullet a { text-decoration:none;}
.bullet:hover a { color:#005500;}
/* Hide this funky stuff from IE5 for Mac with a backslashed comment  \*/
.dropdown {position:relative; top:0px; left:0px; z-index:auto}
.dropdown:hover { z-index:1; }
.dropdown:hover ul {display:block;}
.dropdown ul {background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][2];?>; margin-left:20px; margin-top:2px; padding-left:0px; position:absolute; top:1em; left:5px; width:200px; z-index:1; display: none;} 
.dropdown li {border:0px solid #<?=DV::$OCS[$_SESSION["organism_id"]][3];?>; color:#000;margin:1px; padding:2px; background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][3];?>;list-style:none; }
#related .bullet li.m { overflow: auto; text-decoration:none;  text-decoration: none; font-size:11px; font-family:Arial;list-style-type:circle; } 
#related .bullet[class=bullet] li.m { margin: 0em 0em 0.2em -3.0em; }
#related .dropdown li.m { background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][3];?>; padding-left:5px;}
/* end hack */
* html .dropdown { position: relative; top: auto; left: auto; z-index: auto; display: block }
* html .dropdown:hover  {z-index:1; }
* html .dropdown ul { position: relative; top: auto; left: auto; width: auto; z-index: auto; display: block; list-style: none;}
* html .dropdown:hover { display: block; }
* html .dropdown ul li { border: 0px; padding: 2px; margin: 0em; margin-left: -1.75em; background-color: #fff9af; list-style: none; }

/* end funky menu styling */

/* FamilyView lists of proteins */
.short_id_list dt { float: left; width: 6em; padding: 0px; margin: 0.2em 1em 0.2em 0.2em; border: 0; }
.long_id_list dt { float: left; width: 13em; padding: 0px; margin: 0.2em 1em 0.2em 0.2em; border: 0; }

/* Errors */
p.error { width:80%; margin:2em auto; padding: 1em; background: #fcc; color:#000; border:2px solid #993333; }

/* Form drawing */
.formblock { left: 0px; right: 0px; position: relative; }
.formblock p {width: 100%; padding: 0px; margin: 0px;  }
.formblock .formpadding { width: 29%; height: 1px; padding: 0px; margin:0px; float: left; left: 0px; top: 0px }
.formblock h6 { float: left; width: 29%; top: 0px; left: 0px; padding: 0px; padding-right: 10px; margin: 0px; text-align: right; color: #993333; font-size: 1em; font-weight: bold; margin-top: 0.8em; }
.formwide h6, .forminline h6 { top: 0px; left: 0px; padding: 0px; margin: 0px; color: #993333; font-size: 1em; font-weight: bold; }
.formblock .formcontent { float: left; font-size: 1em; padding: 2px; width: 65%; margin-bottom: 0.8em }
.formcenter, .formcenter div { display:block; text-align:center; margin-bottom: 0.8em;}
.forminline, .forminline div { display:inline; }
.forminline h6 { display:inline; margin-right:1em; }
.radiocheck label, .radiocheck1col label { float: left; } /* width: 250px; } */
.formblock textarea { width: 90%; height: 10em; }
.formblock input.normal { width: 90% }
.formblock .short  { width: 6em }
.formblock .medium  { width: 12em }
/** bug fix to get floats within their bordered div.... */
.infoblock:after, .radiocheck1col:after, .radiocheck:after, .formblock:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.infoblock, .radiocheck, .radiocheck1col, .formblock              { display: inline; }
/* Holly Hack Targets IE Win only \*/
* html .infoblock, * html .radiocheck, * html .radiocheck1col, * html .formblock { height: 1%;}
.infoblock, .radiocheck, .radiocheck1col, .formblock               { display: block; }
/* end of Holly hack */
.radiocheck { float: left; width: 15em; }
.radiocheck1col .radio, .radiocheck .radio { display: inline; float: left }
form#change_chr { margin:10px; }

div.fragment {
  display: none;
}
.background2{ 
	font-family:Geneva;
	color:#003300; 
	background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; 
	/*background-color:#ffdf27;*/
	height: 8px;
	font-size:14px;
	font-weight:bold;
}
.background4{ 
	font-family:Geneva;
	color:#003300; 
	/*background-color:#<?=DV::$OCS[$_SESSION["organism_id"]][4];?>; */
	background-color:#ffdf27;
	height: 8px;
	font-size:14px;
	font-weight:bold;
}

.ddmain, td.ddmain { 
	background-color: #ffffcc;
	font-size: 8pt;
	font-family: Arial, helvetica, verdana, sans-serif;
	color: #000000;
}

td.ddmain a { 
	background-color: #ffffcc; 
	text-decoration : none; 
	font-size: 8pt; 
	font-family: Arial, helvetica, verdana, sans-serif; 
	color: #000099; 
}

.h4{
	font-family:Geneva; 
	color:#003300; 
	font-weight:bold; 
	font-size:18px; 
	vertical-align: middle;
}


.gene {
    font-style: italic;   
}

table.standard_two_col {
    border:    	    	0px;	
    border-spacing: 	1px;
    margin:             1px;
    background-color:   #cfcfcf;
}

table.standard_two_col tr th {
    border:    	    	0px solid #888888;
    text-align:        	left;  
    padding: 	    	4px;
    font-family:        Arial;
    font-weight:     	bold;
    font-size:      	10pt;
    color:  	    	#003300;
    background-color:   #f4f4f4;
    
}

table.standard_two_col tr td {
    border:    	    	0px solid #808080;
    padding: 	    	4px;    
    background-color: 	#fdfdfd;
}

pre.snpmarkup, pre.snpmarkup span, PRE.snpmarkup, PRE.snpmarkup span {
   font-size: 8pt;
   font-family: Courier, monospace; 
}

.menu_container {
  background-color:#f5f5ff;
  border: solid 1px #e5e5ff;
  padding:0px;
  margin:0px;
  width:100%;
}

.menu_container a{
  text-decoration:none;
  font-size: 10px;
}

.menu_container dd a:hover {

  font-size: 10px;
  color:#990000;
}

.menu_container dt {
  background:#e5e5ff;
  border-bottom: solid 1px #e5e5ff;
  padding:2px;
  font-family:arial,helvetica,sans;
  font-weight:bold;
  height: auto;
  font-size: 10px;
}

.menu_container dt p {
  background: url(/imgs/close.gif) top right no-repeat;
  margin: 0px;
  font-size: 10px;
  padding:0px;
  padding-right: 18px;
}

#first_shadow{
  border-top: solid 0px #d6d6d6;
}

#first_no_shadow{
  border-top: none;
}

.menu_container dd {
  border-top: dotted 1px #c4c4c8;
  margin:0px;
  padding:2px;
  font-size: 10px;
  color:#666666;
  font-family:arial,helvetica,sans;
}

/* HTML results */
.seqName{ display: inline; color: #003300; cursor: pointer; text-decoration: none;}
.seqNameOver{ display: inline; color: #770000; cursor: pointer; text-decoration: underline;}
.blastTextDiv a { color: #003300; text-decoration: none;}
.blastTextDiv a:hover { color: #770000; text-decoration: underline;}

/* OLS Browser */
.ols_div1 { background-color: #003300; padding: 1px; } 
.ols_div2 { background-color: #EFFEEF; padding: 2px; }
.ols_div3 { background-color: #005500; color: white; padding: 1px; }
.ols_div4 { background-color: #BBEEBB; color: black; padding: 0px; }

.ols_content_div { background-color: #99DD99; padding: 4px; }

.ols_info { background-color: #99DD99; padding: 2px;}

.ols_info_left { background-color: #99DD99; padding: 0px; min-width: 100px; display: inline; }
.ols_info_right { background-color: #99DD99; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 4px; min-width: 190px; display: inline; }
.tree_wrapper { background-color: #EFFEEF; min-width: 400px; float: left; margin: 0px; padding: 0px; min-height: 400px; margin-bottom: 30px;}

.search1 { background-color: white; padding: 2px; text-align: left;}
.search2 { background-color: black;padding: 1px; }
.search3 { background-color: #eeeeee; min-width: 142px; padding: 2px; }

.search_result_odd { background-color: #eeeeee; border: 1px #dddddd dashed; }
.search_result_even { background-color: #dddddd; border: 1px #eeeeee dashed; }

.ols_image_wrap {background-color: #BBEEBB; padding: 1px; margin-bottom: 5px; border: 1px #EFFEEF dashed;}
/*.ols_image_wrap {background-color: #8FC982; padding: 1px; margin-bottom: 5px;}*/

/*
#ols_info_id { display:inline; }
#ols_info_name { display:inline; }
#ols_info_definition { display:inline; }
*/

#ols_search {position:relative;} 
#ols_autocomplete {position:relative;width:14em;margin-bottom:1em;}/* set width of widget here*/ 
/*#ols_autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */ 
#ols_search_box{width:100px;max-width:100px;height:1.4em;margin-right:1px;} /* abs for ie quirks */ 
/*#ols_search {position:absolute;top:1.7em;width:100%} */
#ols_search .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#99DD99;overflow:hidden;} 
#ols_search .yui-ac-shadow {margin:.3em;width:100%;background:#a0a0a0;} 
#ols_search ul {padding:1px 0;width:100%; margin: 0;} 
#ols_search li {padding:0 1px;cursor:default;white-space:nowrap;} 
#ols_search li.yui-ac-highlight {background:#<?=DV::$OCS[$_SESSION["organism_id"]][2]?>;} 
#ols_search li.yui-ac-prehighlight {background:#<?=DV::$OCS[$_SESSION["organism_id"]][2]?>;} 


table#organismsListTable {
 border-collapse: collapse;
 border-style: hidden;
 border-color: #99DD99;
 margin: 6px;}

table#organismsListTable thead{ background-color: #99DD99;
 color: black;
 font-weight:bold;
 font-size:9pt;
}
table#organismsListTable tbody tr:nth-child(odd)  { background-color: #e8e8e8; }
table#organismsListTable tbody tr:nth-child(even) { background-color: #EFFEEF; }


/* for tools section */
table {border:none;}
td {border:none;}
tr { border:none;}


.box {
	background:#ffffff;
	width: auto;
	margin: 8px;
	border: 1px solid #BBEEBB;
	text-align:left;
}
.box p{margin: 3px;padding: 2px;}

.boxTitle {
	font-family:Arial;
	color:#003300;
	background-color:#99DD99;
	text-align: left;
	background:#BBEEBB;
	vertical-align:middle; 
	font-size:14px;
	clear:both;
	border:1px solid #BBEEBB;
	font-weight:bold;}

.boxTitle p{
	margin: -2px -2px -2px 3px;}

.boxLabel {
	background:#f8f8f8;margin: 1px 8px 1px 8px; overflow:hidden;}
.boxLabel p{
	margin: 0px 0px 0px 2px;
	background:#f8f8f8;}
.leftText {text-align: left; float:left;clear:none;}
.leftLabel {text-align: left; float:left;clear:none; width:160px}
.rightText {text-align: right; float:right; clear:none;}

.jobBox{
border-radius: 12px;
	background:#ffffff;
	margin-top: 8px;
	margin-left: 8px;
	border-left: 1px solid #8FC982;
	border-right: 1px solid #8FC982;
	border-bottom: 1px solid #8FC982;
	text-align:left;
	background-color: #f8f8f8;}

.jobBox h1{
	border-radius: 12px 12px 0px 0px;
	border-width: -4px;
	font: bold 16px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom,
from(#99DD99),
color-stop(0.5, #<?=DV::$BLASTOCS[$_SESSION["organism_id"]][5]?>),
to(#BBEEBB));


	margin: 0px;
	padding-left: 16px;
	padding-top: 2px;}
.jobBox h2{
	border-radius: 12px;
	font: bold 11px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom,
from(#8FC982),
to(#BBEEBB));
	margin: 0px;
	padding-left: 12px;}

.jobBox h3{
	border-radius: 12px;
	font: bold 16px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom,
from(#8FC982),
to(#BBEEBB));
	margin: 0px;
	padding: 2px 0px 2px 16px;}



.jobBox label{ font:normal 12px Sans-serif; color:#003300; }
.jobBox label.altLabel {float:left; width:11.0em; cursor:default;padding: 4px 2px 0px 2px;}
.jobBox label.clustalLabel {margin-left:8px; float:left; width:12.5em; cursor:default;padding: 4px 2px 0px 2px;}
.jobBox ul{list-style-type:none; margin:0px; padding:0px;}
.jobBox li{margin: 8px 8px;}
.jobBox li.altLi{margin:0px 0px 0px 4px;}
.jobBox li.underLined{border-bottom: 1px solid #e6e6e6;}
.jobBox span{color:#666666; margin-left:3em; display:block; font: normal 10px Sans-serif; margin-right:8px;}
.jobBox fieldset{padding:0px; margin:0px; border-style:none;}
.jobBox legend{font-weight:bold; font-size:9pt;}
.jobBox label.blastProgram {margin: 6px 28px 6px 2px;}
/*
.jobBox td{font:normal 12px Sans-serif; color:#003300; height:1.5em; padding:2px; vertical-align:middle;}
.jobBox tr{border: 1px solid #003300;}
*/
.jobSmall {font:normal 10px Sans-serif; color:#003300;}

.all{font-weight:bold; color:#<?=DV::$OCS["all"][0]?>;}
.agambiae{font-weight:bold; color:#<?=DV::$OCS["agambiae"][0]?>;}
.aaegypti{font-weight:bold; color:#<?=DV::$OCS["aaegypti"][0]?>;}
.iscapularis{font-weight:bold; color:#<?=DV::$OCS["iscapularis"][0]?>;}
.cquinquefasciatus{font-weight:bold; color:#<?=DV::$OCS["cquinquefasciatus"][0]?>;}
.gmorsitans{font-weight:bold; color:#<?=DV::$OCS["gmorsitans"][0]?>;}
.rprolixus{font-weight:bold; color:#<?=DV::$BLASTOCS["rprolixus"][0]?>;}
.llongipalpis{font-weight:bold; color:#<?=DV::$OCS["llongipalpis"][0]?>;}
.phumanus{font-weight:bold; color:#<?=DV::$OCS["phumanus"][0]?>;}
.ppapatasi{font-weight:bold; color:#<?=DV::$OCS["ppapatasi"][0]?>;}
.other{font-weight:bold; color:#<?=DV::$OCS["other"][0]?>;}


.jobDataset{
border-radius: 8px;
 background-color: #f8f8f8;
 margin: 2px;
 float:left;
 clear: both;
 padding:2px 0px;
 border: solid 1px #f8f8f8;
 width:100%;
}

#jobDatasetDescription{font: normal 12px Arial; background-color: #f8f8f8; color:#003300; margin:2px 4px 2px 6px;}
#jobDatasetDescriptionHelp{color:#003300; margin-left:6px; font: normal 12px Arial; margin-right:8px;}


.jobLabel {
 font-family: arial;
 color: #003300;
 font-size:12px;
 vertical-align:baseline;
 padding-right: 6px;
 margin: 3px 3px;
cursor: pointer;}

table.jobOptionTable{
 width: 100%;
 border-width: 0px;
}

tr.jobOptionTr{
 padding-top: 2px;
 padding-bottom: 0px;}

td.jobOptionTd{
 font-family: arial;
 color:#003300;
 font-size:12px;
 height:2em;
 vertical-align:middle;
 padding-left:4px;
 background-color: #f8f8f8;}

.disabled{color: grey;}

ul.errorList{
list-style-type:none;
margin: 1px 0px 0px 5px;
padding: 0px;
}

div#errorBox{
width:100%;
color:red;
font-size: 10pt;
font-weight:bold;
margin-left: 20px;
}

.errorText{
color:red;
font-weight:bold;
font-size: 10pt;
}

.warningBox{
	margin-top:4px;
	margin-bottom:4px;
	border:1px solid #888a00;
	background-color:#c3c517;
	font:bold 10px Sans-serif;
	padding:4px 8px;
}

/* end tools section */
