
/*
  header("Content-type: text/css");
  require("static_vars.php");
  require("db_connect.php");
  require("menu_items.php");
  require("organism_definitions.php");
  if (isset($_GET["organism_id"])) {
    $_SESSION["organism_id"]=$_GET["organism_id"];
  }
*/


/* BLAST layout */
#blastContent{background-color:blue;}
#blastLeftColumn{float:left; position:relative; clear:left; width:60em;}
#blastRightColumn{float:left; position:relative; clear:right; width:30em;}



.jobBox{
	border-radius: 12px;
	background:#eee;
	margin-top: 8px;
	margin-left: 8px;
	border-left: 1px solid #8FC982;
	border-right: 1px solid #8FC982;
	border-bottom: 1px solid #8FC982;
	text-align:left;
	background-color: #f8f8f8;}

.jobBox h1{
	border-radius: 12px 12px 0px 0px;
	border-width: -4px;
	font: bold 16px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom,from(#99DD99), color-stop(0.5, #BBEEBB),to(#BBEEBB));
	margin: 0px;
	padding-left: 16px;
	padding-top: 2px;}
.jobBox h2{
	border-radius: 12px;
	font: bold 11px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC982), to(#BBEEBB));
	margin: 0px;
	padding-left: 12px;}

.jobBox h3{
	border-radius: 12px;
	font: bold 16px Arial;
	color:#003300;
	background:#BBEEBB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC982), to(#BBEEBB));
	margin: 0px;
	padding: 2px 0px 2px 16px;}



.jobBox label{ font:normal 12px Sans-serif; color:#003300; }
.jobBox label.blastProgram {margin: 6px 40px; display:inline; clear:none;}
.jobBox label.altLabel {float:left; width:11.0em; cursor:default;padding: 4px 2px 0px 2px;}
.jobBox label.clustalLabel {margin-left:8px; float:left; width:12.5em; cursor:default;padding: 4px 2px 0px 2px;}
.jobBox ul{list-style-type:none; margin:0px; padding:0px;}
.jobBox li{margin: 8px 8px;}
.jobBox li.altLi{margin:0px 0px 0px 4px;}
.jobBox li.underLined{border-bottom: 1px solid #e6e6e6;}
.jobBox span{color:#666666; margin-left:3em; display:block; font: normal 10px Sans-serif; margin-right:8px;}
.jobBox fieldset{padding:0px; margin:0px; border-style:none;}
.jobBox legend{font-weight:bold; font-size:9pt;}

/*
.jobBox td{font:normal 12px Sans-serif; color:#003300; height:1.5em; padding:2px; vertical-align:middle;}
.jobBox tr{border: 1px solid #003300;}
*/

.jobUl {list-style-type:none; margin:0px; padding:0px;}
table,tr,td {border:none;}
.jobBox table,tr,td {border:none; background-color:none;}



.jobSmall {font:normal 10px Sans-serif; color:#003300;}
.jobSmall select{}


.all{font-weight:bold; color:#<?=DV::$OCS["all"][0]?>;}
.agambiae{font-weight:bold; color:#<?=DV::$OCS["agambiae"][0]?>;}
.aaegypti{font-weight:bold; color:#<?=DV::$OCS["aaegypti"][0]?>;}
.iscapularis{font-weight:bold; color:#<?=DV::$OCS["iscapularis"][0]?>;}
.cquinquefasciatus{font-weight:bold; color:#<?=DV::$OCS["cquinquefasciatus"][0]?>;}
.gmorsitans{font-weight:bold; color:#<?=DV::$OCS["gmorsitans"][0]?>;}
.rprolixus{font-weight:bold; color:#<?=DV::$BLASTOCS["rprolixus"][0]?>;}
.llongipalpis{font-weight:bold; color:#<?=DV::$OCS["llongipalpis"][0]?>;}
.phumanus{font-weight:bold; color:#<?=DV::$OCS["phumanus"][0]?>;}
.ppapatasi{font-weight:bold; color:#<?=DV::$OCS["ppapatasi"][0]?>;}
.other{font-weight:bold; color:#<?=DV::$OCS["other"][0]?>;}


.jobDataset{
 border-radius: 8px;
 background-color: #f8f8f8;
 margin: 2px;
 float:left;
 clear: both;
 padding:2px 0px;
 border: solid 1px #f8f8f8;
 width:100%;
}


.jobBox checkbox,radio{display:inline; clear:none;vertical-align:bottom;}
.jobBox label{display:inline; clear:none;}

.jobDataset checkbox{display:inline; clear:none;}
.jobDataset label{display:inline; clear:none;}

#jobDatasetDescription{font: normal 12px Arial; background-color: #f8f8f8; color:#003300; margin:2px 4px 2px 6px;}
#jobDatasetDescriptionHelp{color:#003300; margin-left:6px; font: normal 12px Arial; margin-right:8px;}



.jobLabel {
 font-family: arial;
 color: #003300;
 font-size:12px;
 vertical-align:baseline;
 padding-right: 6px;
 margin: 3px 3px;
cursor: pointer;}

table.jobOptionTable{
 width: 100%;
 border-width: 0px;
}

tr.jobOptionTr{
 padding-top: 2px;
 padding-bottom: 0px;}

td.jobOptionTd{
 font-family: arial;
 color:#003300;
 font-size:12px;
 height:2em;
 vertical-align:middle;
 padding-left:4px;
 background-color: #f8f8f8;}

.disabled{color: grey;}

ul.errorList{
list-style-type:none;
margin: 1px 0px 0px 5px;
padding: 0px;
}

div#errorBox{
width:100%;
color:red;
font-size: 10pt;
font-weight:bold;
margin-left: 20px;
}

.errorText{
color:red;
font-weight:bold;
font-size: 10pt;
}

.warningBox{
	margin-top:4px;
	margin-bottom:4px;
	border:1px solid #888a00;
	background-color:#c3c517;
	font:bold 10px Sans-serif;
	padding:4px 8px;
}

/*
.box {
	background:#ffffff;
	width: auto;
	margin: 8px;
	border: 1px solid #BBEEBB;
	text-align:left;
}
.box p{margin: 3px;padding: 2px;}

.boxTitle {
	font-family:Arial;
	color:#003300;
	background-color:#99DD99;
	text-align: left;
	background:#BBEEBB;
	vertical-align:middle; 
	font-size:14px;
	clear:both;
	border:1px solid #BBEEBB;
	font-weight:bold;}

.boxTitle p{
	margin: -2px -2px -2px 3px;}

.boxLabel {
	background:#f8f8f8;margin: 1px 8px 1px 8px; overflow:hidden;}
.boxLabel p{
	margin: 0px 0px 0px 2px;
	background:#f8f8f8;}
.leftText {text-align: left; float:left;clear:none;}
.leftLabel {text-align: left; float:left;clear:none; width:160px}
.rightText {text-align: right; float:right; clear:none;}
*/
