/*
 * The plan is to use a 'vbpg_' prefix for ids or classes which
 * could theoretically clash with an embedding app (e.g. Drupal).
 * 
 * Data-specific terms should not need the prefix, but things like
 * 'content' almost certainly do.
 *
 */

body#vbpg {
  /* color: black; ked */
  /* font-family: arial,sans-serif; ked  */
}

div#vbpg_page {
  width: 900px;
  padding:0 10px; /* ked */
}

.vbpg_progress { 
}

#project_load_status {
    position: fixed;
    left: 370px;
    top: 30px;
    width: 200px;
    background: yellow;
    color: black;
    font-size: 12px;
    text-align: center;
}

/* optional fixed-height container for spinner */
div.vbpg_progress_container {
    position: absolute;
    left: 400px;
    height: 24px;
    width: 24px;
}
div.vbpg_progress img {
    height: 24px;
    width: 24px;
}
div.vbpg_progress {
    margin-top: -42px;
}

/* temp style for standalone demo server */
ul#vbpg_nav {
  text-align: right;
  margin: 0px;
  margin-bottom: -10px;
  padding: 0px;
  width: 100%;
} 
ul#vbpg_nav li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 75%;
}

.list_row_template { display: none; }
.hide_on_load { display: none; }
.hide_unless_paging { display: none; }

div.vbpg_object_info, div.vbpg_object_list {
/* clear: both; */
 width: 900px;
}

/* these dl dt dd stylings are for key=value lists */
div.vbpg_object_info dl, div.vbpg_object_list dl {
 width:100%;
 overflow:hidden;
 margin: 0px;
}

div.vbpg_object_info dl dt, div.vbpg_object_list dl dt {
    float:left;
    width:200px;
    clear: left;
    padding: 1px;
    color: #666;
}



div.vbpg_object_info dl dd, div.vbpg_object_list dl dd {
    float:left;
/*    width: 500px; */
    padding: 1px;

/*    float: left; */
/*    width: 500px; */
/*    color: black;
    margin: 0px; */

    
}

div.vbpg_object_info h1 { font-size: 140%;
                          font-weight: bold;
                          margin-top: 1ex;
                          margin-bottom: 2ex;
                          border-bottom: 2px solid #fff; /* ked 2px solid black; */
                        }

div.vbpg_object_list h2, div.vbpg_object_info h2 { font-size: 140%; /* ked */
                                                   font-weight: bold;
                                                   border-bottom: 1px solid #D6DDB9; /* ked black; */
						   margin-top: 20px;
                                                 }

div.vbpg_object_list h3, div.vbpg_object_info h3 { font-size: 100%;
                                                   font-weight: bold;
						   color: #333;
						   margin-bottom: 5px;
                                                 }

div.vbpg_object_list table {
    width: 100%;
}

.species_name { font-style: italic; }

.proj_name_style { font-weight: bold; } /* ked */

#vbpg_content table {
}
#vbpg_content table tr th {
    vertical-align: top;
    text-align: left;
    color: #666;
    font-weight: bold; /* ked normal; */
}
#vbpg_content th.row_heading {
  padding-right: 25px;
  width: 150px; /* ked 200px; */
  font-weight: bold; /* ked */
}
#vbpg_content table tr td {
    vertical-align: middle;
}

#vbpg_content table tr td.master_cell { /* ked */
    padding:0;
    vertical-align: top;
}

#vbpg_content table tr .master_row { /* ked */
    border-bottom: solid 1px #ddd; 
}

table tr th.project_name { width: 400px; }

.odd_row { background: #f0f0f0; }
.even_row { background: #fff; } /* ked #efefef; */

.vbpg_pager {
    font-weight: bold;
    text-align: center;
    font-size: 85%; /* ked 80%; */
    text-transform: uppercase;
    margin: 15px;
}

.vbpg_pager_prev, .vbpg_pager_first {
    margin-right: 20px;
}

.vbpg_pager_next, .vbpg_pager_last {
    margin-left: 20px;
}

.vbpg_pager_prev, .vbpg_pager_next, .vbpg_pager_first, .vbpg_pager_last {
    /* ked padding-left: 10px; */
    /* ked padding-right: 10px; */
    padding: 3px 9px; /* ked */
    /* background: #eee; ked */
    color: #27638c;  /* ked black;*/
    border: 1px solid #859937; /* ked 2px solid #ddd; */
    -webkit-border-radius: 4px; /* ked */
    -moz-border-radius: 4px; /* ked */
    border-radius: 4px; /* ked */
    font-size: 100%;
    cursor: pointer;
    background: #b1ca49; /* Old browsers */
    background: -moz-linear-gradient(top, #b1ca49 0%, #d2e099 100%); /* ked FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1ca49), color-stop(100%,#d2e099)); /* ked Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b1ca49 0%,#d2e099 100%); /* ked Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b1ca49 0%,#d2e099 100%); /* ked Opera 11.10+ */
    background: -ms-linear-gradient(top, #b1ca49 0%,#d2e099 100%); /* ked IE10+ */
    background: linear-gradient(to bottom, #b1ca49 0%,#d2e099 100%); /* ked W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1ca49', endColorstr='#d2e099',GradientType=0 ); /* IE6-9 */
}

.vbpg_pager_inactive {
    border: 1px solid #ddd; /* ked */
    background: #eee; /* ked */
    color: #b3b3b3; /* ked #ddd; */
    cursor: default;
}


.todo {
    border: 3px dotted #e0e0e0;
}

.vis_container {
  width: 900px;
  height: 500px;
}

.vis_panel {
		display: inline-block; /* so it doesn't move when protovis sets it to this */
		width: 800px;
		height: 400px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 10px; /* ked 25px; */
}

.vis_flag {
    color: #a00;
    font-size: 70%; /* ked 75% */
    text-transform: uppercase; /* ked */
    background: #d6e49c; /* ked #ccc; */
    margin-left: 10px;
    border: 0px solid #859937; /* ked 2px solid #a00; */
    padding: 3px 9px; /* ked 2px */
}

.vis_flag a:link,   /* ked */
.vis_flag a:visited {
  color: #27638c;
}

.vis_flag a:hover,  /* ked */
.vis_flag a:focus,
.vis_flag a:active {
  text-decoration: underline; 
}

ul#tabnav {
    display: block;
    margin-top: 20px; /* ked */
    margin-left: 50px;
    text-align: center;
    padding: 0;
}

ul#tabnav li {
    float: left;
    list-style-type: none;
    margin: 0 0 5px 0; /* ked-new */
    padding: 0;
    position: relative;
}

ul#tabnav li a {
/*    display: block; */
    float: left;
    font-size: 1.2em; /* 16px; */
    font-weight: normal; /* ked bold; */
    margin: 0; /* ked  0 0 0 5px; */
    padding: 8px 15px; /* ked  0 6px; */
    position: relative;
    text-decoration: none;
    border: solid 1px #fff; /* ked */
    border-bottom: 1px solid #ccc; /* ked */
    -webkit-border-top-left-radius: 4px; /* ked */
    -webkit-border-top-right-radius: 4px; /* ked */
    -moz-border-radius-topleft: 4px; /* ked */
    -moz-border-radius-topright: 4px; /* ked */
    border-top-left-radius: 4px; /* ked */
    border-top-right-radius: 4px; /* ked */
}

ul#tabnav li a:link,  
ul#tabnav li a:visited, 
ul#tabnav li a:hover,
ul#tabnav li a:focus,
ul#tabnav li a:active
{
    color: #27638c;  /* ked */
}

ul#tabnav li a:hover,
ul#tabnav li a:focus,
ul#tabnav li a:active
{
    background: #efefef; /* ked */
    border: solid 1px #ccc; /* ked */
}

ul#tabnav li a.selected {
    background: #fff; /* ked */
    border: solid 1px #ccc; /* ked */
    border-bottom: solid 1px #fff; /* ked */
    color: #666; /* ked */
}

div.sandbox {
    margin-left: 50px;
}

.visualisation h3 {
    text-align: center;
}

/* for any spinner pre-loaded */
.vis_panel img {
		display: block;
		margin: auto;
		padding-top: 170px;
}

#assay_geolocation_text {
    /* leave 300px for the mini_map_panel (for safari) */
    width: 500px;
}

#mini_map_panel {
    float: right;
    width:300px;
    height:200px;
}

span.cvterm {
    color: #408040;
    border-bottom: 1px #b1ca49 dotted; /* ked-new #408040 */
}

/* a pseudo centered heading */
div.assay_protocol_name {
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px dotted black;
  margin-top: 3px;
}

.phenotype_prop {
/*  font-size: 85%; */
}

.sample_prop {
  font-size: 85%;
}

.project {
  padding: 10px;  /* ked */
}

.project.odd_row {   /* ked */
  background: #efefef; 
  border-bottom: solid 1px #ddd;
}

.project.even_row {  /* ked */
  background: #fff; 
  border-bottom: solid 1px #ddd;
}

.project .name {
  font-size: 120%; /* ked */
  padding-bottom: 5px; /* ked 10px; */
}

.project .description {
  margin-left: 20px;
  padding-bottom: 8px; /* ked 10px; */
}

.project .sub_date { /* ked */
  font-size: 90%;
  line-height: 90%;
  margin-left: 0;
}

.project .contacts {
  font-size: 90%; /* ked 85%; */
  padding-bottom: 10px; /* ked 20px; */
}

.publication {
  font-size: 90%; /* ked 85%; */
  padding-bottom: 15px;
}
.publication #title {
  font-size: 110%; /* ked */
  font-weight: bold;
}

td.assay_projects, th.assay_projects {
  width: 100px;
}

td.assay_projects ul { /* ked-new */
  margin-left:0;
  list-style-type:none; 
}

/* cancel out some drupal table styling */

div#vbpg_page table {
  border-collapse: separate;
}

div#vbpg_page tbody th {
  border: none;
  padding: 3px;
}

/* RMM added */
div#vbpg_page tr .nested_props_header {
  border-bottom: 1px solid #ddd;
}
/* RMM: only for actually embeded tables within tables */
td.nested_props_list table tbody {
  font-size: 90%;
}
/* RMM fix sample page column lineup */
div#vbpg_page table th.sample_assays_col1 {
  width: 200px;
}

/* to show that what's on the screen is not current any more
 * (after clicking 'next' or 'previous')
 *
 * HAS TO BE NEAR END OF THIS FILE
 */

.vbpg_pager_pending {
    visibility: hidden;
}
/*
div#vbpg_page .vbpg_pager_pending a {
    color: #eee;
}
*/

