/*
 * The plan is to use a 'vbpg_' prefix for ids or classes which
 * could theoretically clash with an embedding app (e.g. Drupal).
 * 
 * Data-specific terms should not need the prefix, but things like
 * 'content' almost certainly do.
 *
 */


body#vbpg {
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  font-size: 85%;
  padding: 5px; 
  background: #f7f7f7;
}

div#vbpg_page a { text-decoration: none; color: #1010f0; }
div#vbpg_page a:hover { color: #5050ff; }

div#vbpg_page { width: 900px; padding: 5px; background: white; }

div#vbpg_banner { background: #005500; padding: 5px;
      /* the following two attributes avoid the need for  */
      overflow: hidden; width: 890px; }
div#vbpg_logo { float: left; }
div#vbpg_logo img { border: none; padding: 0px; }
div#vbpg_banner_title {
		margin-left: 10px;
		margin-top: 8px;
		font-size: 20px;
		font-weight: bold;
		float: left;
}
div#vbpg_banner_title a { color: white; }
div#vbpg_banner_title a:hover { color: white; }

div#vbpg_nav { float: right; }
div#vbpg_nav ul { list-style-type: none; margin: 0px;}
div#vbpg_nav li { float: left; padding: 4px; padding-top: 3px; background: #f7f7f7; margin: 5px; }
div#vbpg_nav li a { font-size: 85%; } /* text-decoration: none; color: #1010f0; }*/


div#vbpg_content { min-height: 400px; }

div#vbpg_footer { margin-top: 10px; font-size: 75%; text-align: center; }

.vbpg_progress { }

#project_load_status {
  position: fixed;
	left: 550px;
	top: 30px;
	width: 200px;
	background: yellow;
	color: black;
	font-size: 12px;
	text-align: center;
}

/* optional fixed-height container for spinner */
.vbpg_progress_container {
    float: left;
    min-height: 32px;
    width: 0px;
}

.list_row_template { display: none; }
.hide_on_load { display: none; }
.hide_unless_paging { display: none; }

/* clear the floating vbpg_progress_container divs */
div.vbpg_object_info, div.vbpg_object_list { clear: both; }

/* these dl dt dd stylings are for key=value lists */
div.vbpg_object_info dl, div.vbpg_object_list dl {
    margin: 0px;
    /* next two attribs clear the floats somehow */
    overflow: hidden;
    width: 100%;
}

div.vbpg_object_info dl.margin-below, div.vbpg_object_list dl.margin-below {
  margin-bottom: 1ex;
}

div.vbpg_object_info dl dt, div.vbpg_object_list dl dt {
    float: left;
    clear: left;  
    width: 200px;
    text-align: left;
    font-weight: bold;
    color: #666;
}
div.vbpg_object_info dl dd, div.vbpg_object_list dl dd {
    float: left;
/*		width: 500px; */
    color: black;
		margin: 0px;
}

div.vbpg_object_info h1 { font-size: 140%;
                          font-weight: bold;
                          margin-top: 1ex;
                          margin-bottom: 2ex;
                          border-bottom: 2px solid black;
                        }

div.vbpg_object_list h2, div.vbpg_object_info h2 { font-size: 125%;
                                                   font-weight: bold;
                                                   border-bottom: 1px solid black;
                                                 }

div.vbpg_object_list h3, div.vbpg_object_info h3 { font-size: 100%;
                                                   font-weight: bold;
                                                 }

div.vbpg_object_list table {
    width: 100%;
}

/* bg colours when second level deep */
div.vbpg_object div.vbpg_object.sample { background: white }
div.vbpg_object div.vbpg_object.experiment { background: white; }
div.vbpg_object div.vbpg_object.project { background: white; }

/*
.field_collection { background: #f0fff0; }
.species_identification_assay { background: #fff0f0; }
.phenotype_assay { background: #f0f0ff; }
.genotype_assay { background: #fff0ff; }
*/

.species_name { font-style: italic; }


table tr th { vertical-align: top; text-align: left; background: #e7e7e7; }
table tr td { vertical-align: top; }

table tr th.project_name { width: 400px; }

.odd_row { background: #f0f0f0; }
.even_row { background: #f7f7f7; }

.vbpg_pager {
    font-weight: bold;
    text-align: center;
    font-size: 80%;
    margin: 15px;
}

.vbpg_pager_prev {
    margin-right: 20px;
}

.vbpg_pager_next {
    margin-left: 20px;
}

.vbpg_pager_prev, .vbpg_pager_next {
    padding-left: 10px;
    padding-right: 10px;
    background: #eee;
    color: black;
    border: 2px solid #ddd;
    font-size: 100%;
}

.vbpg_pager_inactive {
    color: #ddd;
}

/* to show that what's on the screen is not current any more
 * (after clicking 'next' or 'previous')
 */

.vbpg_pager_pending {
    color: #eee;
}
div#vbpg_page .vbpg_pager_pending a {
    color: #eee;
}

.todo {
    border: 3px dotted #e0e0e0;
}

.vis_container {
  width: 900px;
  height: 500px;
}

.vis_panel {
		display: inline-block; /* so it doesn't move when protovis sets it to this */
		width: 800px;
    height: 400px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 25px;
}

/* for any spinner pre-loaded */
.vis_panel img {
		display: block;
		margin: auto;
		padding-top: 170px;
}


#experiment_geolocation_text {
		width: 590px;
		overflow: hidden;
}

#mini_map_panel {
		float: right;
    width:300px;
		height:200px;
}

.visualisation h3 {
		text-align: center;
}

.project .name {
		font-weight: bold;
}

.project .description {
		padding-bottom: 1ex;
		margin-bottom: 2px;
}

